:root {
   --primary-text-color: #2E2F42;
   --secondary-text-color: #434455;
   --primary-brand-color: #4D5AE5;
}
body {
   color: var(--primary-text-color);
   font-family: 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
   font-size: 16px;
   letter-spacing: 0.02em;
}
h1, h2, h3, h4, h5, h6, p, ul {
   margin: 0;
   padding: 0;
}
img {
   display: block;
   max-width: 100%;
   height: auto;
}
/* <--------<DEFAULT CLASSES>--------> */
.container {
   width: 1158px;

   margin-left: auto;
   margin-right: auto;

   padding-left: 15px;
   padding-right: 15px;
}
.section {
   padding-top: 120px;
   padding-bottom: 120px;
}
.basic-flex {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   row-gap: 72px;
}
.list-flex {
   display: flex;
   row-gap: 48px;
   column-gap: 24px;
   list-style: none;
}
.link {
   text-decoration: none;
}
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;

   margin: -1px;
   padding: 0;
   border: 0;

   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* <--------<HEADER>--------> */
.header {
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* Link click area */
.header .link {
   padding-top: 24px;
   padding-bottom: 24px;
}
/* <----<LOGO>----> */
.header-logo {
   margin-right: 77px;

   color: var(--primary-brand-color);
   font-family: 'Raleway', 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
   font-size: 18px;
   line-height: 1.3;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}
.header-logo-studio {
   color: var(--primary-text-color);
}
/* <----<NAVIGATION>----> */
.header-nav {
   column-gap: 40px;
}
.nav-link {
   position: relative;

   color: inherit;
   font-weight: 500;
   line-height: 1.5;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
   color: var(--secondary-text-color);
}
.nav-link:active {
   color: var(--primary-brand-color);
}
/* нижнє підкреслення посилання поточної сторінки */
.current-page-link::after {
   content: '';

   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 4px;

   background: #404BBF;
   border-radius: 2px;
}

/* <----<CONTACTS>----> */
.header-contacts {
   margin-left: auto;
   column-gap: 40px;
}
.contacts-link {
   color: var(--secondary-text-color);
   line-height: 1.5;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
   color: var(--primary-brand-color);
}

/* <--------<INDEX-MAIN>--------> */
/* <----<HERO>----> */
.hero {
   max-width: 1440px;

   margin: 0 auto;
   padding-top: 192px;
   padding-bottom: 192px;
   
   background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
   background-size: cover;
}
.hero-container {
   flex-direction: column;
}
.hero-title {
   width: 492px;

   color: #fff;
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
}
.hero-button-open {
   border: none;
   padding: 16px 32px;

   background: var(--primary-brand-color);
   color: #fff;
   font-family: inherit;
   font-weight: 500;
   font-size: inherit;
   line-height: 1.19;
   letter-spacing: 0.04em;
   border-radius: 4px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

   cursor: pointer;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button-open:hover,
.hero-button-open:focus {
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.hero-button-open:active {
   background: #404BBF;
}
.backdrop {
   position: fixed;
   top: 0;
   left: 0;

   width: 100%;
   height: 100%;
   
   background: rgba(46, 47, 66, 0.4);
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
   opacity: 0;
   pointer-events: none;
}
.backdrop.is-hidden .modal {
   transform: translate(-50%, -50%) scale(4);
}
.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   width: 408px;
   height: 576px;

   background: #FCFCFC;
   border-radius: 4px;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
   
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button-close {
   position: absolute;
   right: 24px;
   top: 24px;

   width: 24px;
   height: 24px;
   border: 2px solid rgba(0, 0, 0, 0.1);

   background: #E7E9FC;
   border-radius: 50%;
   cursor: pointer;
}
.hero-icon {
   width: 8px;
   height: 8px;
}
/* <----<PRIORITIES>----> */
.priorities-item {
   flex-basis: calc((100% - (24px * 3))/4);
}
.priorities-icon-box {
   width: 264px;
   height: 112px;

   background: #F4F4FD;
}
.priorities-icon {
   width: 64px;
   height: 64px;
}
.priorities-title {
   margin-top: 8px;
   margin-bottom: 8px;

   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
}
.priorities-desctiption {
   color: var(--secondary-text-color);
   line-height: 1.5;
}
/* <----<WORKS>----> */
.works {
   padding-top: 0;
}
.works-title {
   font-weight: 500;
   font-size: 36px;
   line-height: 1.1;
   text-align: center;
}
.works-item {
   flex-basis: calc((100% - (24px * 2))/3);
   border: 1px solid #E7E9FC;
}
/* <----<TEAM>----> */
.team {
   background: #F4F4FD;
}
.team-title {
   font-weight: 500;
   font-size: 36px;
   line-height: 1.1;
   text-align: center;
}
.team-cards {
   text-align: center;
}
.team-card {
   flex-basis: calc((100% - (24px * 3))/4);
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-card-content {
   padding: 32px 16px;
}
.team-card-name {
   margin-bottom: 8px;

   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
}
.team-card-position {
   margin-bottom: 8px;
   
   color: var(--secondary-text-color);
   line-height: 1.5;
}
.team-icons {
   padding-top: 4px;
   padding-bottom: 4px;
}
.team-icon-box {
   width: 40px;
   height: 40px;

   background: var(--primary-brand-color);
   border-radius: 50%;
}
.team-icon {
   width: 16px;
   height: 16px;
}
/* <----<CUSTOMERS>----> */
.customers-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   letter-spacing: 0.03em;
}
.customer-icon-box {
   width: 168px;
   height: 88px;
   border: 1px solid #8E8F99;

   fill: #8E8F99;
   border-radius: 4px;

   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-icon-box:hover,
.customer-icon-box:focus {
   outline: none;

   fill: var(--primary-brand-color);
   border-color: var(--primary-brand-color);
}
.customer-icon {
   width: 104px;
   height: 56px;

   fill: inherit;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* <--------<PORTFOLIO MAIN>--------> */
.portfolio {
   padding-top: 96px;
}
.radio-nav-btn {
   border: 1px solid #E7E9FC;
   padding: 12px 24px;

   background: #F4F4FD;
   color: var(--primary-brand-color);
   font-family: inherit;
   font-size: inherit;
   font-weight: 500;
   letter-spacing: 0.04em;
   border-radius: 4px;

   cursor: pointer;
   transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.radio-nav-btn:hover,
.radio-nav-btn:focus {
   background: var(--primary-brand-color);
   color: #fff;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-cards {
   flex-wrap: wrap;
}
.portfolio-card {
   /* потрібно вказати inline-block, бо на посилання (inline) не діє box-shadow */
   display: inline-block;
   flex-basis: calc((100% - (24px * 2))/3);
   border-bottom: 0.5px solid #F4F4FD;

   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover,
.portfolio-card:focus {
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card-overlay {
   position: relative;
   overflow: hidden;
}
.portfolio-card-overlay::after {
   content: '';

   position: absolute;
   left: 0;
   /* опускаємо overlay вниз по вертикалі (під картинку) */
   bottom: -100%;

   /* картинка, яка розміщена в overlay, вона і задає його розмір (ширину та висоту) */
   width: 100%;
   height: 100%;

   background: rgba(77, 90, 229, 0.9);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover .portfolio-card-overlay::after,
.portfolio-card:focus .portfolio-card-overlay::after {
   /* піднімаємо overlay вгору по вертикалі (на саму картинку)*/
   transform: translateY(-100%);
}
.portfolio-card-content {
   padding: 32px 16px;
}
.portfolio-card-title {
   margin-bottom: 8px;

   color: var(--primary-text-color);
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
}
.portfolio-card-type {
   color: var(--secondary-text-color);
   line-height: 1.5;
}

/* <--------<FOOTER>--------> */
.footer {
   padding-top: 100px;
   padding-bottom: 100px;

   background: var(--primary-text-color);
}
.footer-container { 
   display: flex;
   row-gap: 16px;
}
.footer-logo {
   display: inline-block;
   margin-bottom: 16px;

   color: var(--primary-brand-color);
   font-family: 'Raleway', 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}
.footer-logo-studio {
   color: #F4F4FD;
}
.footer-slogan {
   width: 264px;

   color: #E7E9FC;
   line-height: 1.5;
}
.social-media-box {
   margin-left: 120px;
}
.footer-title {
   margin-bottom: 16px;

   color: #fff;
   font-weight: 500;
   line-height: 1.5;
}
.footer-icons {
   column-gap: 16px;
}
.footer-icon-box {
   width: 40px;
   height: 40px;

   background: rgba(255, 255, 255, 0.1);
   border-radius: 50%;

   transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-box:hover,
.footer-icon-box:focus {
   background: #31D0AA;
}
.footer-icon {
   width: 24px;
   height: 24px;
}