:root {
   --primary-text-color: #2E2F42;
   --secondary-text-color: #434455;
   --primary-brand-color: #4D5AE5;
}
body {
   background-color: #fff;
   color: var(--primary-text-color);
   font-family: 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
   font-size: 16px;
   letter-spacing: 0.02em;
}
h1, h2, h3, h4, h5, h6, p, ul {
   margin: 0;
   padding: 0;
}
img {
   display: block;
   max-width: 100%;
   height: auto;
}
.container {
   margin-left: auto;
   margin-right: auto;
   padding-left: 16px;
   padding-right: 16px;
}
.list {
   list-style: none;
}
.flex-list {
   display: flex;
}
@media screen and (max-width: 1199px) {
   .flex-list {
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 72px;
   }
}
.iris-button {
   display: block;
   width: 169px;
   height: 56px;
   margin-left: auto;
   margin-right: auto;

   background-color: var(--primary-brand-color);
   color: #fff;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.iris-button:hover,
.iris-button:focus {
   background-color: #404BBF;
}
.link {
   color: inherit;
   text-decoration: none;
}
.icon-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}
/* HIDE ELEMENTS BEFORE BREAK POINTS*/
.header-nav,
.header-contacts,
.works,
.priorities-icon-wrapper {
   display: none;
}

/* <-- MOBILE HEADER --> */
.header {
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
   display: flex;
   align-items: center;
}
.logo-web {
   color: var(--primary-brand-color);
   font-family: 'Raleway', 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
   font-size: 18px;
   font-weight: 900;
   line-height: 1.33;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}
.header-logo {
   padding-top: 24px;
   padding-bottom: 24px;
}
.header-logo-studio {
   color: var(--primary-text-color);
}
.header-hamburger {
   width: 32px;
   height: 22px;
   margin-left: auto;
   cursor: pointer;
}

/* <-- MOBILE MAIN --> */
.section {
   padding-top: 96px;
   padding-bottom: 96px;
}
.sections-title,
.priorities-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
}
.sections-title {
   margin-bottom: 72px;
}

/* HERO */
.hero {
   max-width: 1440px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 112px;
   padding-bottom: 112px;

   background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
   background-size: cover;
}
.hero-title {
   max-width: 318px;
   margin-left: auto;
   margin-right: auto;

   color: #fff;
   text-transform: capitalize;
}

/* Backdrop */
.backdrop {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;

   background-color: rgba(46, 47, 66, 0.4);
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}
/* Modal */
.modal {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%) scale(1);

   width: 392px;
   padding: 72px 16px 24px;

   background-color: #FCFCFC;
   border-radius: 4px;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 427px) {
   .modal {
      width: 90%;
   }
}
.backdrop.is-hidden .modal {
   transform: translate(-50%, -50%) scale(4);
}
/* Close button */
.close-button {
   position: absolute;
   right: 24px;
   top: 24px;
   width: 24px;
   height: 24px;

   background-color: #E7E9FC;
   border: 2px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
   cursor: pointer;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
   background-color: #404BBF;
   fill: #fff;
   border-color: #404BBF;
}
.close-icon {
   width: 8px;
   height: 8px;
}
.modal-title {
   margin-bottom: 16px;
   font-weight: 500;
   line-height: 1.5;
   text-align: center;
}
.field {
   position: relative;
   display: block;
   margin-bottom: 8px;

   color: #8E8F99;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.01em;
}
.input {
   display: block;
   width: 100%;
   height: 40px;
   margin-top: 4px;
   padding: 11px 38px;

   color: var(--primary-text-color);
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field:focus-within .input {
   outline: 1px solid var(--primary-brand-color);
}
/* Modal icons */
.modal-icon {
   position: absolute;
   left: 16px;
   top: 26px;

   width: 18px;
   height: 24px;

   fill: var(--primary-text-color);
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field:focus-within .modal-icon {
   fill: var(--primary-brand-color);
}
/* Comment */
.comment-field {
   margin-bottom: 16px;
}
.comment-input {
   height: 120px;
   padding: 8px 16px;
   resize: none;
}
.comment-input::placeholder {
   color: rgba(117, 117, 117, 0.5);
   font-size: 12px;
   line-height: 1.3;
   letter-spacing: 0.04em
}
/* Checkbox: */
.checkbox-field {
   position: relative;
   display: block;
   margin-bottom: 24px;

   color: #757575;
   font-size: 12px;
   line-height: 1.33;
   letter-spacing: 0.04em;
   text-align: center;
}
.modal-checkbox-icon {
   position: absolute;
   left: 0;
   top: 0;
   width: 16px;
   height: 16px;

   background-color: #F4F4FD;
   border: 1.25px solid #2E2F42;
   border-radius: 2px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked ~ .modal-checkbox-icon {
   background-color: #404BBF;
   border-color: #404BBF;
}
.checkbox-link {
   color: var(--primary-brand-color);
}

/* PRIORITIES */
.priorities-desctiption {
   margin-top: 8px;
   color: var(--secondary-text-color);
   font-weight: 500;
   line-height: 1.5;
}

/* TEAM */
.team {
   padding-bottom: 128px;
   background-color: #F4F4FD;
}
.team-card {
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-card-content {
   padding: 32px 16px;
   background: #fff;
   text-align: center;
}
.team-card-name {
   margin-bottom: 8px;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
}
.team-card-position {
   margin-bottom: 8px;
   color: var(--secondary-text-color);
   line-height: 1.5;
}
.team-icons-list {
   display: flex;
   column-gap: 24px;
}
.team-icon-item {
   width: 40px;
   height: 40px;
}
.team-icon-wrapper {
   background-color: var(--primary-brand-color);
   border-radius: 50%;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-wrapper:hover,
.team-icon-wrapper:focus {
   background-color: #404BBF;
}
.team-icon {
   width: 16px;
   height: 16px;
}

/* CUSTOMERS */
.customers-icons-list {
   column-gap: 16px;
}
.customer-item {
   width: 190px;
   height: 88px;
}
.customer-icon-wrapper {
   fill: #8E8F99;
   border: 1px solid #8E8F99;
   border-radius: 4px;
   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-icon-wrapper:hover {
   fill: var(--primary-brand-color);
   border-color: var(--primary-brand-color);
}
.customer-icon-wrapper:focus{
   fill: var(--primary-brand-color);
   border: none;
   outline: 1px solid var(--primary-brand-color);
}
.customer-icon {
   width: 104px;
   height: 56px;

   fill: inherit;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* <-- PORTFOLIO MAIN --> */
.portfolio {
   padding-top: 48px;
   padding-bottom: 48px;
}
.radio-nav {
   display: flex;
   flex-wrap: wrap;
   max-width: 263px;
   gap: 24px 16px;
   margin-bottom: 48px;
}
.radio-nav-btn {
   padding: 8px 16px;
   background-color: #F4F4FD;
   color: var(--primary-brand-color);
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   border: 1px solid #E7E9FC;
   border-radius: 4px;
   cursor: pointer;

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.radio-nav-btn:hover,
.radio-nav-btn:focus {
   background-color: var(--primary-brand-color);
   color: #fff;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-cards {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   row-gap: 48px;
}
.portfolio-card-wrapper {
   display: block;
   width: 100%;

   border-bottom: 0.5px solid #F4F4FD;
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-wrapper:hover,
.portfolio-card-wrapper:focus {
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card-overlay {
   position: relative;
   overflow: hidden;
}
.portfolio-card-overlay::after {
   content: '';

   position: absolute;
   left: 0;
   bottom: -100%;

   width: 100%;
   height: 100%;

   background-color: rgba(77, 90, 229, 0.9);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-wrapper:hover .portfolio-card-overlay::after,
.portfolio-card-wrapper:focus .portfolio-card-overlay::after {
   transform: translateY(-100%);
}
.portfolio-card-content {
   padding: 32px 16px;
}
.portfolio-card-title {
   margin-bottom: 8px;
   color: var(--primary-text-color);
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
}
.portfolio-card-type {
   color: var(--secondary-text-color);
   line-height: 1.5;
}

/* <--------<FOOTER>--------> */
.footer {
   padding-top: 96px;
   padding-bottom: 96px;
   background-color: var(--primary-text-color);
}
.footer-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   row-gap: 72px;
}
/* (Logo + Slogan) box */
.footer-logo {
   display: block;
   margin-bottom: 16px;
   line-height: 1.17;
   text-align: center;
}
.footer-logo-studio {
   color: #F4F4FD;
}
.footer-slogan {
   width: 268px;
   color: #E7E9FC;
   line-height: 1.5;
}
/* Social media box*/
.footer-titles {
   margin-bottom: 16px;

   color: #fff;
   font-weight: 500;
   line-height: 1.5;
   text-align: center;
}
.footer-icons-list {
   display: flex;
   column-gap: 16px;
}
.footer-icon-item {
   width: 40px;
   height: 40px;  
}
.footer-icon-wrapper {
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 50%;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-wrapper:hover,
.footer-icon-wrapper:focus {
   background-color: #31D0AA;
}
.footer-icon {
   width: 24px;
   height: 24px;
}
/* Subscribe box*/
.footer-form {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   row-gap: 16px;
}
.footer-input {
   width: 100%;
   height: 40px;
   padding: 8px 16px;

   background-color: var(--primary-text-color);
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 4px;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input:focus-within {
   outline: 1px solid violet;
}
.footer-input:placeholder-shown {
   color: rgba(255, 255, 255, 0.6);
   font-size: 12px;
   line-height: 2;
   letter-spacing: 0.04em;
}
.footer-button {
   width: 165px;
   height: 40px;
   column-gap: 16px;
}

@media screen and (min-width: 428px) {
   .container {
      width: 428px;
   }
}

/* <-- LAPTOP VERSION --> */
@media screen and (min-width: 768px) {
   .container {
      width: 768px;
   }

/* LAPTOP-HEADER */
   .header-hamburger {
      display: none;
   }
   .header-logo {
      margin-right: 120px;
   }
   .header-nav {
      display: flex;
      column-gap: 40px;
   }
   /* нижнє підкреслення посилання поточної сторінки */
   .current-page {
      position: relative;
   }
   .current-page::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;

      background-color: #404BBF;
      border-radius: 2px;
   }
   .nav-wrapper {
      display: inline-block;
      padding-top: 24px;
      padding-bottom: 24px;

      font-weight: 500;
      line-height: 1.5;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .nav-wrapper:hover,
   .nav-wrapper:focus {
      color: var(--secondary-text-color);
   }
   .nav-wrapper:active {
      color: var(--primary-brand-color);
   }

   .header-contacts {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      margin-left: auto;
   }
   .contact-wrapper {
      color: var(--secondary-text-color);
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 0.04em;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .contact-wrapper:hover,
   .contact-wrapper:focus {
      color: var(--primary-brand-color);
   }

/* LAPTOP-HERO */
   .hero-title {
      max-width: 494px;
      margin-bottom: 40px;
   
      font-size: 56px;
      line-height: 1.07;
      text-transform: none;
   }
   .modal {
      width: 408px;
      padding-left: 24px;
      padding-right: 24px;
   }

/* LAPTOP-PRIORITIES */
   .priorities-list {
      column-gap: 24px;
   }
   .priorities-item {
      flex-basis: calc((100% - 24px) / 2);
   }
   .priorities-title {
      text-align: left;
   }

/* LAPTOP-TEAM */
   .team {
      padding-bottom: 104px;
   }
   .team-cards {
      column-gap: 24px;
   }

/* LAPTOP-CUSTOMERS */
   .customers-icons-list {
      column-gap: 24px;
   }
   .customer-item {
      width: 168px;
   }

/* LAPTOP-FOOTER */
   .footer-container {
      width: 584px;
      justify-content: initial;
      align-items: initial;
      column-gap: 24px;
   }
   .footer-logo {
      text-align: left;
   }
   .footer-slogan {
      width: 264px;
   }
   .footer-titles {
      text-align: left;
   }
   .footer-form {
      column-gap: 24px;
   }
   .footer-input {
      width: 264px;
   }

/* LAPTOP-PORTFOLIO */
   .portfolio {
      padding-top: 64px;
      padding-bottom: 96px;
   }
   .radio-nav {
      max-width: 100%;
      justify-content: center;
      flex-wrap: inherit;
      margin-bottom: 64px;
   }
   .portfolio-cards {
      justify-content: initial;
      row-gap: 72px;
      column-gap: 24px;
   }
   .portfolio-card {
      flex-basis: calc((100% - 24px) / 2);
   }
}

/* <PC VERSION> */
@media screen and (min-width: 1200px) {
   .container {
      width: 1160px;
   }
   .section {
      padding-top: 120px;
      padding-bottom: 120px;
   }

/* PC HEADER */
   .header-logo {
      margin-right: 76px;
   }
   .header-contacts {
      flex-direction: initial;
      column-gap: 40px;
   }
   .contact-wrapper {
      padding-top: 24px;
      padding-bottom: 24px;

      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
   }

/* PC HERO */
   .hero {
      padding-top: 188px;
      padding-bottom: 188px;
   }
   .hero-title {
      margin-bottom: 48px;
   }

/* PC PRIORITIES */
   .priorities-item {
      flex-basis: initial;
   }
   .priorities-icon-wrapper {
      display: flex;
      width: 264px;
      height: 112px;
      margin-bottom: 8px;
      background-color: #F4F4FD;
   }
   .priorities-icon {
      width: 64px;
      height: 64px;
   }
   .priorities-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
   }
   .priorities-desctiption {
      font-weight: 400;
   }

/* PC WORKS */
   .works {
      display: block;
      padding-top: 0;
   }
   .works-list {
      display: flex;
      column-gap: 24px;
   }

/* PC CUSTOMERS */
   .customers-container {
      padding-left: 16px;
      padding-right: 16px;
   }

/* PC FOOTER */
   .footer-container {
      flex-wrap: initial;
      gap: 0;
   }
   .social-media-box {
      margin-left: 120px;
      margin-right: 80px;
   }
   .footer-form {
      flex-wrap: initial;
   }

/* PC PORTFOLIO */
   .portfolio {
      padding-top: 96px;
      padding-bottom: 120px;
   }
   .radio-nav {
      margin-bottom: 72px;
   }
   .portfolio-cards {
      row-gap: 40px;
   }
   .portfolio-card {
      flex-basis: calc((100% - 2 * 24px) / 3);  
   }
}