/* <<!!--BG COLORS FOR CHECK VIEW!!-->> */
/* .container:hover {
   background-color: rgb(55, 222, 199);
}
.card-content:hover {
   background-color: rgb(235, 183, 222);
}
h1:hover, h2:hover, h3:hover,
p:hover, a:hover {
   background-color: rgb(149, 147, 203);
} */
/* <--------<DEFAULT SETTINGS>--------> */
:root {
   --primary-text-color: #2E2F42;
   --secondary-text-color: #434455;
   --primary-brand-color: #4D5AE5;
}
h1, h2, h3, h4, h5, h6, p, ul {
   margin: 0;
   padding: 0;
}
img {
   /* 'for adaptivity' */
   display: block;
   max-width: 100%;
   height: auto;
}
body{
   background-color: #fff;
   color: var(--primary-text-color);
   font-family: 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
   font-size: 16px;
   letter-spacing: 0.02em;
}
.container{
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
   width: 1158px;
}
.container-flex-properties{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   row-gap: 72px;
}
.list {
   list-style: none;
}
.list-flex-properties{
   display: flex;
   row-gap: 48px;
   column-gap: 24px;
}
.link {
   text-decoration: none;
}
.card-content {
   padding: 32px 16px;
}
.logo {
   color: var(--primary-brand-color);
   font-family: 'Raleway', 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
   font-size: 18px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}
.visually-hidden{
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* <--------<HEADER>--------> */
.header{
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container{
   align-items: center;
}
/* Link click area */
.header .link{
   padding-top: 24px;
   padding-bottom: 24px;
}
/* <----<LOGO>----> */
.header .logo{
   margin-right: 77px;
   line-height: 1.3;
}
.header-logo-studio{
   color: var(--primary-text-color);
}
/* <----<NAVIGATION>----> */
.header-nav{
   column-gap: 40px;
}
.nav-link{
   font-weight: 500;
   color: inherit;
}
.nav-link:hover,
.nav-link:focus{
   color: var(--secondary-text-color);
}
.nav-link:active{
   color: var(--primary-brand-color);
}
/* <----<CONTACTS>----> */
.header-contacts{
   margin-left: auto;
   column-gap: 40px;
}
.contacts-link{
   color: var(--secondary-text-color);
   line-height: 1.5;
}
.contacts-link:hover,
.contacts-link:focus{
   color: var(--primary-brand-color);
}

/* <--------<INDEX-MAIN>--------> */
/* <----<HERO SECTION>----> */
.hero-section{
   background: var(--primary-text-color);
   padding-top: 192px;
   padding-bottom: 192px;
}
.hero-container{
   align-items: center;
   flex-direction: column;
}
.hero-title{
   width: 492px;
   color: #fff;
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
}
.hero-button{
   padding: 16px 32px;
   background: var(--primary-brand-color);
   color: #fff;
   font-family: inherit;
   font-weight: 500;
   font-size: inherit;
   line-height: 1.19;
   border: none;
   border-radius: 4px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   letter-spacing: 0.04em;
   cursor: pointer;
}
.hero-section-button:hover,
.hero-section-button:focus{
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.hero-section-button:active{
   background-color: #404BBF;
}
/* <----<PRIORITIES SECTION>----> */
.priorities-section{
   padding-top: 120px;
   padding-bottom: 120px;
}
.priorities-item{
   flex-basis: calc((100% - (24px * 3))/4);
}
.container-icon{
   padding: 24px 100px;
   width: 264px;
   height: 112px;
   background-color: #F4F4FD;
}
.priorities-title {
   margin-bottom: 8px;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
}
.priorities-desctiption{
   color: var(--secondary-text-color);
   line-height: 1.5;
}
/* <----<WORKS SECTION>----> */
.works-section{
   padding-bottom: 120px;
}
.works-title{
   font-weight: 500;
   font-size: 36px;
   line-height: 1.1;
   text-align: center;
}
.works-item{
   flex-basis: calc((100% - (24px * 2))/3);
   border: 1px solid #E7E9FC;
}
/* <----<TEAM SECTION>----> */
.team-section{
   background-color: #F4F4FD;
   padding-top: 120px;
   padding-bottom: 120px;
}
.team-title{
   font-weight: 500;
   font-size: 36px;
   line-height: 1.1;
   text-align: center;
}
.team-cards{
   text-align: center;
}
.team-card {
   flex-basis: calc((100% - (24px * 3))/4);
}
.team-card-content{
   padding: 32px 16px;
   background-color: #fff;
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-card-name{
   margin-bottom: 8px;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
}
.team-card-position{
   color: var(--secondary-text-color);
   line-height: 1.5;
}

/* <--------<PORTFOLIO MAIN>--------> */
.portfolio-section{
   padding-top: 96px;
   padding-bottom: 120px;
}
.radio-btn .button{
   padding: 8px 16px;
   border: 1px solid #E7E9FC;
   border-radius: 4px;
   background-color: #F4F4FD;
   color: var(--primary-brand-color);
   font-family: inherit;
   font-size: inherit;
   font-weight: 500;
   letter-spacing: 0.04em;
   cursor: pointer; 
}
.radio-btn .button:hover,
.radio-btn .button:focus{
   background-color: var(--primary-brand-color);
   color: #fff;
}
.portfolio-cards{
   flex-wrap: wrap;
}
.portfolio-card{
   flex-basis: calc((100% - (24px * 2))/3);
   background-color: #fff;
   border-bottom: 0.5px solid #F4F4FD;
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio-card:active{
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card-title{
   margin-bottom: 8px;
   color: var(--primary-text-color);
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
}
.portfolio-card-type{
   color: var(--secondary-text-color);
   line-height: 1.5;
}

/* <--------<FOOTER>--------> */
.footer{
   background-color: var(--primary-text-color);
   padding-top: 100px;
   padding-bottom: 100px;
}
.footer-container{
   flex-direction: column;
   align-items: flex-start;
   row-gap: 16px;
}
.footer .logo{
   line-height: 1.17;
}
.footer-logo-studio{
   color: #F4F4FD;
}
.footer-slogan{
   width: 264px;
   color: #E7E9FC;
   line-height: 1.5;
}