/* <<!!--BG COLORS FOR CHECK VIEW!!-->> */
/* .container:hover {
   background-color: rgb(55, 222, 199);
}
.card-content:hover {
   background-color: rgb(235, 183, 222);
}
h1:hover, h2:hover, h3:hover,
p:hover, a:hover {
   background-color: rgb(149, 147, 203);
} */
/* <--------<DEFAULT SETTINGS>--------> */
:root {
   --primary-text-color: #2E2F42;
   --secondary-text-color: #434455;
   --primary-brand-color: #4D5AE5;
}
h1, h2, h3, h4, h5, h6, p, ul {
   margin: 0;
   padding: 0;
}
img {
   /* 'for adaptivity' */
   display: block;
   max-width: 100%;
   height: auto;
}
body {
   background-color: #fff;
   color: var(--primary-text-color);
   font-family: 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
   font-size: 16px;
   letter-spacing: 0.02em;
}
.container {
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
   width: 1158px;
}
.section{
   padding-top: 120px;
   padding-bottom: 120px;
}
.basic-flex {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   row-gap: 72px;
}
.list-flex {
   display: flex;
   row-gap: 48px;
   column-gap: 24px;
   list-style: none;
}
.link {
   text-decoration: none;
}
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* <--------<HEADER>--------> */
.header {
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* Link click area */
.header .link {
   padding-top: 24px;
   padding-bottom: 24px;
}
/* <----<LOGO>----> */
.header-logo {
   margin-right: 77px;
   color: var(--primary-brand-color);
   font-family: 'Raleway', 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
   font-size: 18px;
   line-height: 1.3;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}
.header-logo-studio {
   color: var(--primary-text-color);
}
/* <----<NAVIGATION>----> */
.header-nav {
   column-gap: 40px;
}
.nav-link {
   color: inherit;
   font-weight: 500;
   line-height: 1.5;
}
.nav-link:hover,
.nav-link:focus {
   color: var(--secondary-text-color);
}
.nav-link:active {
   color: var(--primary-brand-color);
}
/* <----<CONTACTS>----> */
.header-contacts {
   margin-left: auto;
   column-gap: 40px;
}
.contacts-link {
   color: var(--secondary-text-color);
   line-height: 1.5;
}
.contacts-link:hover,
.contacts-link:focus {
   color: var(--primary-brand-color);
}

/* <--------<INDEX-MAIN>--------> */
/* <----<HERO>----> */
.hero {
   padding-top: 192px;
   padding-bottom: 192px;
   background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
   background-size: 1600px, cover;
}
.hero-container {
   flex-direction: column;
}
.hero-title {
   width: 492px;
   color: #fff;
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
}
.hero-button {
   padding: 16px 32px;
   background: var(--primary-brand-color);
   color: #fff;
   font-family: inherit;
   font-weight: 500;
   font-size: inherit;
   line-height: 1.19;
   border: none;
   border-radius: 4px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   letter-spacing: 0.04em;
   cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.hero-button:active {
   background-color: #404BBF;
}
/* <----<PRIORITIES>----> */
.priorities-item {
   flex-basis: calc((100% - (24px * 3))/4);
}
.priorities-icon-box{
   width: 264px;
   height: 112px;
   background-color: #F4F4FD;
}
.priorities-icon{
   width: 64px;
   height: 64px;
}
.priorities-title {
   margin-top: 8px;
   margin-bottom: 8px;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
}
.priorities-desctiption {
   color: var(--secondary-text-color);
   line-height: 1.5;
}
/* <----<WORKS>----> */
.works {
   padding-top: 0;
}
.works-title {
   font-weight: 500;
   font-size: 36px;
   line-height: 1.1;
   text-align: center;
}
.works-item {
   flex-basis: calc((100% - (24px * 2))/3);
   border: 1px solid #E7E9FC;
}
/* <----<TEAM>----> */
.team {
   background-color: #F4F4FD;
}
.team-title {
   font-weight: 500;
   font-size: 36px;
   line-height: 1.1;
   text-align: center;
}
.team-cards {
   text-align: center;
}
.team-card {
   flex-basis: calc((100% - (24px * 3))/4);
   background-color: #fff;
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-card-content{
   padding: 32px 16px;
}
.team-card-name {
   margin-bottom: 8px;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
}
.team-card-position {
   margin-bottom: 8px;
   color: var(--secondary-text-color);
   line-height: 1.5;
}
.team-icons {
   padding-top: 4px;
   padding-bottom: 4px;
}
.team-icon-box {
   width: 40px;
   height: 40px;
   background-color: var(--primary-brand-color);
   border-radius: 50%;
}
.team-icon{
   width: 16px;
   height: 16px;
}
/* <----<CUSTOMERS>----> */
.customers-title{
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   letter-spacing: 0.03em;
}
.customer-icon-box {
   width: 168px;
   height: 88px;
   border: 1px solid #8E8F99;
   border-radius: 4px;
   fill: #8E8F99;
}
.customer-icon-box:hover,
.customer-icon-box:focus{
   fill: var(--primary-brand-color);
   border-color: var(--primary-brand-color);
}
.customer-icon{
   width: 104px;
   height: 56px;
   fill: inherit;
}
/* <--------<PORTFOLIO MAIN>--------> */
.portfolio {
   padding-top: 96px;
}
.radio-nav-btn{
   padding: 12px 24px;
   background-color: #F4F4FD;
   color: var(--primary-brand-color);
   font-family: inherit;
   font-size: inherit;
   font-weight: 500;
   letter-spacing: 0.04em;
   border: 1px solid #E7E9FC;
   border-radius: 4px;
   cursor: pointer; 
}
.radio-nav-btn:hover,
.radio-nav-btn:focus {
   background-color: var(--primary-brand-color);
   color: #fff;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-cards{
   flex-wrap: wrap;
}
.portfolio-card {
   flex-basis: calc((100% - (24px * 2))/3);
   background-color: #fff;
   border-bottom: 0.5px solid #F4F4FD;
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio-card:active {
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card-content {
   padding: 32px 16px;
}
.portfolio-card-title {
   margin-bottom: 8px;
   color: var(--primary-text-color);
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
}
.portfolio-card-type {
   color: var(--secondary-text-color);
   line-height: 1.5;
}

/* <--------<FOOTER>--------> */
.footer {
   padding-top: 100px;
   padding-bottom: 100px;
   background-color: var(--primary-text-color);
}
.footer-container { 
   display: flex;
   row-gap: 16px;
}
.logo-and-slogan{
   margin-right: 120px;
}
.footer-logo {
   display: inline-block;
   margin-bottom: 16px;
   color: var(--primary-brand-color);
   font-family: 'Raleway', 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}
.footer-logo-studio {
   color: #F4F4FD;
}
.footer-slogan {
   width: 264px;
   color: #E7E9FC;
   line-height: 1.5;
}
.wtf{
   display: flex;
   flex-direction: column;
}
.footer-title {
   margin-bottom: 16px;
   color: #fff;
   font-weight: 500;
   line-height: 1.5;
}
.footer-icons{
   column-gap: 16px;
}
.footer-icon-box{
   width: 40px;
   height: 40px;
   background: rgba(255, 255, 255, 0.1);
   border-radius: 50%;
}
.footer-icon-box:hover,
.footer-icon-box:focus{
   background-color: #31D0AA;
}
.footer-icon{
   width: 24px;
   height: 24px;
}