:root{
   --primary-text-color: #2E2F42;
   --secondary-text-color: #434455;
   --primary-brand-color: #4D5AE5;}
/* ----------------------> */
body{
   color: var(--primary-text-color);
   background-color: #fff;
   font-family: 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
   font-size: 16px;
   letter-spacing: 0.02em;}
/* ----------------------> 
   Значення по замовчуванню для загальних класів: */
.list {
   list-style: none;}
.link{ 
   text-decoration: none;}
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;}
/* ------------->------------->-------------> */
.logo{
   color: var(--primary-brand-color);
   font-family: 'Raleway', 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
   font-size: 18px;
   letter-spacing: 0.03em;
   text-transform: uppercase;}
.header .logo{
   line-height: 1.3;}
.header .logo .studio{ 
   color: var(--primary-text-color);}
/* ----------------------> */
.nav .link{
   font-weight: 500;
   color: inherit;}
.nav .link:hover,
.nav .link:focus{
   color: var(--secondary-text-color);}
.nav .link:active{
   color: var(--primary-brand-color);}
/* ----------------------> */
.contacts .link{
   color: var(--primary-secondary-color);
   line-height: 1.5;}
.contacts .link:hover,
.contacts .link:focus{
   color: var(--primary-brand-color);}
/* ------------->------------->-------------> */
.hero{
   background: var(--primary-text-color);
   text-align: center;}
.hero-title{
   color: #fff;
   font-weight: 500;
   font-size: 56px;
   line-height: 1.07;}
.hero .button{
   background: var(--primary-brand-color);
   color: #fff;
   font-family: inherit;
   font-weight: 500;
   font-size: inherit;
   line-height: 1.19;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   letter-spacing: 0.04em;
   cursor: pointer;}
.hero .button:hover,
.hero .button:focus{
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}
.hero .button:active{
   background-color: #404BBF;}
/* ----------------------> */
.radio-button .button{
   background-color: #F4F4FD;
   color: var(--primary-brand-color);
   font-family: inherit;
   font-size: inherit;
   font-weight: 500;
   letter-spacing: 0.04em;
   cursor: pointer;}
.radio-button .button:hover,
.radio-button .button:focus{
   background-color: var(--primary-brand-color);
   color: #fff;}
/* ----------------------> 
   заголовки та підзаголовки, в яких значення повторюється*/
.title,
.sub-title{
   font-weight: 500;}
.title{
   font-size: 36px;
   line-height: 1.1;}
.sub-title,
.portfolio .card-title{
   font-size: 20px;
   line-height: 1.2;}
.portfolio .card-title{
   color: var(--primary-text-color);
   font-weight: 500;}
.portfolio .type{
   color: var(--secondary-text-color);}
/* ----------------------> */
.team{
   background-color: #F4F4FD;}
/* ------------->------------->-------------> */
footer{
   background-color: var(--primary-text-color);}
/* ----------------------> */
.footer .logo{
   line-height: 1.17;}
.footer .logo .studio{
   color: #F4F4FD;}
/* ----------------------> */
.slogan{
   color: #E7E9FC;}